*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* ANCHOR Web app top*/

.web-app{
    background-color: black;
    height: 100vh;
}

.web-app-top{
    background-color: #3a3f44;
    height: calc(100% - 100px);
    display: flex;
}

.aside{
    background-color: black;
    position: relative;
    z-index: 1;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.aside-icon{
    width: 20px;
}

.logo-big{
    display: none;
}

.aside-menu-top{
    margin-top: 10px;
}

.aside-menu-top li{
    display: flex;
    align-items: center;
    margin: 10px 0; 
}

.aside-menu-top-link{
    color: white;
    text-decoration: none;
    white-space: nowrap;
    display: none;
}

.via{
    display: none;
    white-space: nowrap;
}

.text{
    color: white;
}

ul li span{
    color: grey;
}

.fa-plus{
    border: 1px solid transparent;
    background-color: #282828;
    padding: 8px;
}

.fa-arrow-down-long{
    border-radius: 50%;
    border: 1px solid gray;
    padding: 5px;
}

.crea-playlist{
    display: flex;
    font-size: 1.4em;
    margin-left: 10px;
}

.profile{
    border-top: 1px soldi black;
    margin-top: 10px; 
    display: flex;
}

.icon-profilo{
    background-color: grey;
    border-radius: 50%;
}


/* ANCHOR main*/

.main{
    background-color: #262e35;
    width: 100%;
    overflow-y: auto;
}

/*.box{
    height: 50px;
    background-color: lightblue;
    margin-bottom: 20px;
}*/

.cta{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    text-align: right;
    padding: 30px 20px 30px 0;
}

.cta-button{
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #fff;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
}

.barra-nav {
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
    justify-content: center;
}

nav li{
    list-style: none;
    padding: 10px 20px;
}

nav li a{
    text-decoration: none;
    color: grey;
}

.main-central{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.titolo-recenti h2{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

#coloregrigio{
    color: gray;
    margin-bottom: 10px;
}

.sezione-album{
    display: flex;
    flex-wrap: wrap; 
}

.album-metal{
    width: calc(100% / 2);
    padding-right: 10px;
    text-align: center;
}



.img-size{
    width: 100%;
}

.sezione-album h4{
    color: white;
    margin-top: 5px;
}

.sezione-album p{
    color: grey;
    margin-top: 5px;
}

.stondare-img{
    border-radius: 50%;
}

/* ANCHOR Web app bottom*/

.web-app-bottom{
    background-color: #282828;
    height: 100px;
    display: flex;
}

.web-app-bottom-img{
    display: flex;
}

.test3{
    display: flex;
    align-items: center;
}

.icon-music{
    width: 40px;
    height: 40px;
}

.brano-in-riproduzione{
    display: flex;
    flex-direction: column;
}

.brano-in-riproduzione h5{
    color: white;
    font-size: 0.9em;
}

.brano-in-riproduzione span{
    color: grey;
    font-size: 0.8em;
}

.icon-play{
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
}

