*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/* CONTENITORE al cui interno c'è dentro tutto */


.container{
    background-color: black;
    height: 100vh;
    display: flex;
}

aside{
    height: 85vh;
    background-color: rgb(223, 215, 203);
    width: 15%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside-top{
    background-color: aqua;
    /* border: 1px solid greenyellow; */
    width: 100%;
    height: 100px;
}

.aside-bottom{
    background-color: aqua;
    /* border: 1px solid greenyellow; */
    width: 100%;
    height: 100px ;
}

.effettua-upgrade{
    background-color: rgb(114, 17, 10);
    height: 10%;
    width: 100%;
}


main{
    height: 85%;
    width: 100%;
    background-color: rgb(84, 13, 84);
    overflow-y: auto;
    /* flex-direction: column; */
    /* display: flex; */
}



/* footer{
    background-color: rgb(204, 22, 71);
    flex-direction: column;
} */
    /* width: 100%; */
    /* height: 15%;
   

